@"
# Backend
Backend/target/
Backend/.mvn/
Backend/src/main/resources/application-dev.properties

# Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/.env

# General
.idea/
*.iml
"@ | Out-File -FilePath .gitignore -Encoding utf8